#Ignoreconfigurationfilesthatmaycontainsensitiveinformation.sites/*/*settings*.phpsites/example.sites.php#Ignorepathsthatcontaingeneratedcontent.files/sites/*/filessites/*/privatesites/*/translations#Ignoredefaulttextfilesrobots.txt/CHANGELOG.txt/COPYRIGHT.txt/INSTALL*.txt/LICENSE.txt/MAINTAINERS.txt/UPGRADE.txt/README.txtsites/README.txtsites/all/libraries/README.txtsites/all/modules/README.txtsites/all/themes/README.txt#Ignoreeverythingbutthe"sites"and"themes"folder(fornoncoredeveloper).htaccessweb.configauthorize.phpcron.phpindex.phpinstall.phpupdate.phpxmlrpc.php/includes/misc/modules/profiles/scripts